.about-container    {
    display: flex;
    justify-content: center;
}

.about-text {
    padding: 50px 20px;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
}

.about-img2 {
    float: right;
}