.checkout-main {
  display: flex;
  width: 100%;
}

/* ---------- ДЕСКТОП ---------- */

.checkout_container {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 35%);
  gap: 30px;

  height: calc(100vh - 140px);
  padding: 40px 0;
}

.checkout-sidebar {
  background-color: #FABBBF;
  color: #fff;
  padding: 40px 30px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  border-radius: 20px;
}

.checkout-block {
  background-color: #B9728A;
  overflow-y: auto;
  padding: 35px 30px;
  border-radius: 20px;

  color: white;

  border-bottom: #83696A 1px solid;

  position: relative;
}

/* Стиль скролла */
.checkout-block::-webkit-scrollbar {
  width: 8px;
}

.checkout-block::-webkit-scrollbar-track {
  background: #ffd9e3;
  border-radius: 10px;
}

.checkout-block::-webkit-scrollbar-thumb {
  background: #FC7E90;
  border-radius: 10px;
}

/* ---------- КАРТОЧКИ ---------- */

.order-item {
  display: flex;
  align-items: center;

  background-color: #fff;
  border-radius: 18px;
  padding: 15px;
  margin-bottom: 20px;

  gap: 15px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.07);
}

.order-item img {
  width: 100px;
  height: auto;
  border-radius: 12px;
  border: 2px solid #ffc4d5;
  object-fit: cover;
}

.order-item p {
  margin: 3px 0;
  color: #83696A;
  font-size: 14px;
}

.order-item b {
  color: #FC7E90;
}

/* ---------- ТЕКСТЫ ---------- */

.checkout-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.checkout-info-text {
  text-align: center;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.9;
}

.take-in-place-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}

.checkout-payment-text  {
  background-color: #B9728A;
  padding: 20px 20px;
  border-radius: 15px;
  font-size: 18px;
  color: #fff;
}

.checkout-payment-text b  {
  font-weight: 500;
}

.checkout-payment-text b span {
  font-size: 18px;
  font-size: 12px;
}

/* ---------- МОБИЛКА ---------- */

@media (max-width: 820px) {
  .checkout_container {
    grid-template-columns: 1fr;
    padding: 20px 0;
    height: auto;
  }

  .checkout-sidebar,
  .checkout-block {
    padding: 25px 20px;
  }

  .checkout-block {
    order: 1;

    max-height: 600px;
  }

  .checkout-sidebar {
    order: 2;
  }

  .checkout-title {
    font-size: 30px;
  }

  .order-item {
    flex-direction: column;
    align-items: flex-start;

    padding: 15px;
    gap: 10px;
  }

  .order-item img {
    width: 100%;
    max-height: 200px;
    border-radius: 15px;
  }

  .order-item p {
    font-size: 15px;
  }
}

/* ---------- КРАСИВАЯ СУПЕР-АДАПТАЦИЯ ДЛЯ ТЕЛЕФОНОВ ДО 480px ---------- */

@media (max-width: 480px) {
  .checkout-title {
    font-size: 26px;
  }

  .checkout-sidebar,
  .checkout-block {
    border-radius: 15px;
  }

  .order-item {
    padding: 12px;
  }

  .order-item img {
    max-height: 180px;
  }

  .checkout-info-text {
    font-size: 14px;
  }
}

.order-total{
  color: #fff !important;
  
}