.contact-page {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-size: 32px;
  color: #83696A;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 0;
}



.contact-box {
  background: #fff;
  max-width: 600px;
  width: 100%;
  padding: 40px;
  border-radius: 25px;
  border: 3px solid #FABAC9;
  box-shadow: 0 4px 18px rgba(250, 126, 144, 0.2);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px 18px;
  border-radius: 12px;
  border: 1px solid #f8b2c3;
  background: #fff;
  font-size: 15px;
  color: #83696A;
  resize: none;
  transition: border 0.25s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #FC7E90;
  outline: none;
}

.contact-btn {
  width: 100%;
  padding: 14px;
  border-radius: 100px;
  border: none;
  background: linear-gradient(180deg, #F6BAC3 0%, #FC7E90 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(252,126,144,0.35);
  transition: transform 0.2s ease, filter 0.2s ease;
}

.contact-btn:hover {
  transform: translateY(-2px);
}

.contact-btn:active {
  transform: scale(0.97);
  filter: brightness(1.15);
}

@media (max-width: 768px) {
  .contact-box {
    padding: 30px 25px;
  }
}

@media (max-width: 430px) {
  .contact-box {
    padding: 25px 20px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    font-size: 14px;
  }

  .contact-btn {
    font-size: 16px;
  }
}
