.full-item {
  max-width: 1100px;
  margin: 200px auto;
  
  padding: 20px;
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.gallery {
  flex: 1;
}

.main-img {
  width: 100%;
  border-radius: 20px;
}

.small-images {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.small-images img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity .3s, transform .3s;
}

.small-images img:hover {
  opacity: 1;
  transform: scale(1.05);
}

.small-images .active {
  opacity: 1;
  border: 2px solid #FC7E90;
}

.info {
  flex: 1;
}

.info h2 {
  font-size: 28px;
  color: #FC7E90;
}

.desc {
  color: #83696A;
  margin: 10px 0 20px;
}

.price {
  font-size: 24px;
  color: #83696A;
  display: block;
  margin-bottom: 20px;
}

.sizes p {
  font-weight: 600;
  margin-bottom: 5px;
}

.sizes-list {
  display: flex;
  gap: 10px;
}

.size {
  padding: 10px 15px;
  background: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s ease;
}

.size:hover {
  transform: scale(1.07);
}

.size.active {
  background: #FC7E90;
  color: white;
}

.add-btn {
  margin-top: 25px;
  padding: 12px 20px;
  background: #FC7E90;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 200px;
  transition: transform .3s ease, background .3s ease;
}

.add-btn:hover {
  transform: scale(1.05);
}

.add-btn:disabled {
  background: #FFD1DA;
  cursor: default;
  transform: none;
}



@media (max-width: 768px) {

  .full-item {
    flex-direction: column;
    align-items: center;
    margin: 50px auto;

    padding: 0 10px;
  }

  .small-images img {
    width: 60px;
    height: 60px;
  }

  .add-btn {
    width: 100%;
  }
}

.cart-size {
  margin: 5px 0 10px;
  font-size: 14px;
  color: #FC7E90;
}
.cart-size b {
  color: #83696A;
}

@media (max-width: 480px) {
  .product_container {
    justify-content: center;
    padding: 0 10px;
  }

  .products-block .item {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }
}
