header  {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: #fff;

    background: rgba(255, 255, 255, 0.6); /* прозрачность */
    backdrop-filter: blur(6px);          /* блюр */
    -webkit-backdrop-filter: blur(6px);
    
}

.header_container   {
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    max-width: 1280px; 
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logo   {
    color: #FC7E90;
    font-size: 32px;
    text-decoration: none;
    user-select: none;
}

.header_block   {
    display: flex;
    gap: 30px;
}





header .shop-cart-button  {
    color: #222;
    
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart-button:hover,
header .shop-cart-button.active  {
    color: #444;
    transform: scale(1.3);
}

header .shop-cart-button.active {
    background-color: #f5f5f5;
}

header .shop-cart {
  position: absolute;
  top: 50px;
  right: 0;
  width: 450px;
  background: #fafafa;
  box-shadow: 8px 15px 55px -3px rgba(0,0,0,0.33);
  padding: 20px;
  padding-bottom: 0;

  transform: translateY(-20px);
  opacity: 0;

  pointer-events: none;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

header .shop-cart.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.lenght-amount {
    position: absolute;
    right: -5px;
    top: -5px;

    min-width: 18px;
    min-height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: #FC7E90;
    color: #fff;

    font-size: 12px;
    font-weight: 800;
    user-select: none;
    padding: 2px;
}

.shop-cart-button-pic {
    height: 25px;
    width: 25px;
    position: relative;
}

.shop-cart-button{
    padding: 5px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 5px;
}

header .shop-cart .empty h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;

    
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
    user-select: none;
}

header .shop-cart .item h2  {
    color: #FC7E90;
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}

header .shop-cart .item .delete-icon  {
    color: #FC7E90;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover  {
    color: #fa5470;
    transform: scale(1.2);
}

header .shop-cart .summa  {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.checkout_btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    background-color: #FFDEE7;
    color: #FC7E90;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: transform 300ms ease;
    user-select: none;
}

.checkout_btn:hover {
    transform: scale(1.05);
}



